.homePageAdmin {
  margin-top: 25vh;
}
.homePage-title-admin {
  font-size: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7vh;
}
.homePage-title-admin h1 {
  color: white;
  font-size: 2.8vw;
}
.home-content-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-consoles-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: auto;
  margin-bottom: 10vh;
}
.action-consoles {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 15vh;
}
.selected-console {
  font-family: "latoregular";
  font-size: 3vh;
  margin-bottom: 5vh;
}
.button-Admin {
  color: white;
  font-family: "latoregular";
  font-size: 1.7vh;
  width: 15vw;
  height: 7vh;
  background: none;
  border: solid 2px white;
  border-radius: 2vw;
}
.button-Admin-delete {
  color: red;
  font-family: "latoregular";
  font-size: 1.7vh;
  width: 15vw;
  height: 7vh;
  background: none;
  border: solid 2px red;
  border-radius: 2vw;
}
.button-Admin-refresh {
  color: #88ff9b;
  font-family: "latoregular";
  font-size: 1.7vh;
  width: 15vw;
  height: 7vh;
  background: none;
  border: solid 2px #88ff9b;
  border-radius: 2vw;
}
.console-inline {
  display: flex;
  align-items: center;
  border: solid 2px var(--bleu);
  border-radius: 1vw;
  margin-bottom: 2vh;
}
.console-inline p {
  color: white;
}
.console-inline-selected {
  display: flex;
  align-items: center;
  border: solid 2px var(--violet);
  border-radius: 1vw;
  margin-bottom: 2vh;
}
.console-element {
  font-family: "latoregular";
  margin: 2vh 2vw;
  width: 12vw;
}
