.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14vw;
  height: 40vh;
  border: solid 5px #88ff9b;
  border-radius: 2vw;
  box-shadow: 0 0 2vw #88ff9b;
  overflow: hidden;
  margin: 2%;
}
.game-conteneur-photo {
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.game-photo-card {
  height: auto;
  width: 100%;
}
.game-conteneur-texte {
  color: white;
  height: 35%;
  font-size: 2vh;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.game-conteneur-texte p {
  color: white;
}
.game-card-price {
  font-family: "latoregular";
  font-size: 2.5vh;
}
.game-conteneur-texte h3 {
  font-family: "latoregular";
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-top: 2vh;
  font-size: 2vh;
}
